---
layout: default
---

<div class="full section-header"><h2>Log</h2></div>
<section class="masonry">
  {% assign reverse_chronological = site.log | reverse %}
  {% for item in reverse_chronological %}
    {% assign post_date = item.date | date: "%s" %}
    {% assign cutoff = "now" | date: "%s" | minus: post_date %}
    {% if cutoff <= 7257600 %}
      <div class="item">
        {% include log.html item=item %}
      </div>
    {% endif %}
  {% endfor %}
</section>

<div class="full section-header"><h2>Projects</h2></div>
<!-- HERO SECTION -->
<section class="hero">
  <!-- LEFT HERO -->
  <div class="sideHeroColumn">
    {% for item in site.projects %}
      {% if item.position == 'left' %}
        {% include article.html item=item %}
      {% endif %}
    {% endfor %}
  </div>

  <!-- HERO -->
  <div class="heroColumn">
    {% for item in site.projects %}
      {% if item.position == 'center' %}
        {% include article.html item=item %}
      {% endif %}
    {% endfor %}
  </div>

  <!-- RIGHT HERO -->
  <div class="sideHeroColumn">
    {% for item in site.projects %}
      {% if item.position == 'right' %}
        {% include article.html item=item %}
      {% endif %}
    {% endfor %}
  </div>

</section>
<div class="full section-header"><h2>Specification Documents</h2></div>
<section class="masonry">
  {% for item in site.specs %}
    <div class="item">
      {% include spec.html item=item %}
    </div>
  {% endfor %}
</section>
