---
layout: default
---
<div><h2>Projects</h2></div>
<!-- HERO SECTION -->
<section class="hero">
  <!-- LEFT HERO -->
  <div class="sideHeroColumn">
    {% for item in site.projects %}
      {% if item.position == 'left' %}
        {% include article.html item=item %}
      {% endif %}
    {% endfor %}
  </div>

  <!-- HERO -->
  <div class="heroColumn">
    {% for item in site.projects %}
      {% if item.position == 'center' %}
        {% include article.html item=item %}
      {% endif %}
    {% endfor %}
  </div>

  <!-- RIGHT HERO -->
  <div class="sideHeroColumn">
    {% for item in site.projects %}
      {% if item.position == 'right' %}
        {% include article.html item=item %}
      {% endif %}
    {% endfor %}
  </div>

</section>
<section class="masonry" id="spec-docs">
  <div class="item"><h2>Specification Documents</h2></div>
  {% for item in site.specs %}
    <div class="item">
      {% include spec.html item=item %}
    </div>
  {% endfor %}
</section>

<section class="masonry"><div class="item"><h2>Log</h2></div>
  {% assign reverse_chronological = site.log | reverse %}
  {% for item in reverse_chronological %}
    <div class="item">
      {% include article.html item=item %}
    </div>
  {% endfor %}
</section>
