/* Custom properties for brand guidelines January 2020 */
:root {
  --primary-color-1: #0067a0;
  --primary-color-2: #919d9d;
  --primary-color-3: #00c1d5;
  --primary-color-4: #b5bd00;
  --secondary-color-1: #a31c3f;
  --secondary-color-2: #4db789;
  --secondary-color-3: #090e3c;
  --secondary-color-4: #ea234b;
  --secondary-color-5: #90d9b9;
  --secondary-color-6: #242a6a;
  --secondary-color-7: #eeae30;
  --secondary-color-8: #404341;
  --secondary-color-9: #97e2ef;
  --secondary-color-10: #f2cd32;
  --secondary-color-11: #e4e4e4;
  --tertiary-color-1: #f9e28a;
  --tertiary-color-2: #d2da5f;
}