<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>

		{% include header.html %}
		<div class="content">
			{{ content }}
		</div>

	</body>

	{% if page.layout == 'default' %}
		<footer>
		  {% include footer.html %}
		</footer>
	{% endif %}
	<p class="love">
		<a href="https://stackoverflow.com/a/62484130/7868821">hyper realistic pen highlighter</a> by <a href="https://stackoverflow.com/users/3177506/matt-pi">Matt Pi</a><br/>
		<a href="https://github.com/ohduran/the-interesting-times"><strong>Interesting Times</strong> theme</a> made with <i class="fa fa-heart"></i> by <a href="https://alvaroduran.com">Álvaro</a>
	</p>

</html>
